play_tennis/arvore.json
__pycache__/arvore.cpython-36.pyc
__pycache__/calculos.cpython-36.pyc
__pycache__/manipulacaoArquivos.cpython-36.pyc
__pycache__/preProcessamento.cpython-36.pyc
__pycache__/treinaModelo.cpython-36.pyc
play_tennis/play_tennis.csv
play_tennis/play_tennis_discr.csv
play_tennis/play_tennis_limpo.csv
